{% extends 'store/base.html' %}
{% load static %}
</head>

<body>
    <!-- Page Preloder -->
    {% block content %}
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
               
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                          
                                    
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="row">
                                <div class="col-lg-6">

                <form action="" method="POST">
                    {% csrf_token %}
                                    <div class="checkout__input">
                                        <p>First Name<span>*</span></p>
                                        <input type="text" name="first_name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" name="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" name="email">
                                    </div>
                                </div>
                            </div>


                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" name="address_line1" placeholder="Street Address"
                                    class="checkout__input__add">
                                <input type="text" name="address_line2"
                                    placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text" name="city">
                            </div>
                            <div class="checkout__input">
                                <p>District<span>*</span></p>
                                <input type="text" name="district">
                            </div>
                            <div class="checkout__input">
                                <p>State<span>*</span></p>
                                <input type="text" name="state">
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input type="text" name="country">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text" name="pincode">
                            </div>
                          

                    <button type="submit" class="btn btn-dark">Save</button>
                </form>

            </div>
            <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                                                <!-- adeeddddddd --> 
                                                <div class="cupon_area"> 
                                                    <div class="check_title w-100"> 
                                                   <span class="icon_tag_alt"> <h5>Available Coupon  </span> </span>
                                                    </div> 
                                                    <form method="POST" action=""> 
                                                        {% csrf_token %} 
                                                        {% for ds in coppen %}
                                                        {% if grand_total >= ds.discount_from %}
                                                        <h6 style="color:Green;"> {{ds.code}}, <span>Upto  {{ds.discount_percentage}}%</span> off </h6>
                                                    {% endif %}
                                                        {% endfor %}
                                                    <input type="text" class="form-control" id="" name="coupon">
                                                    <button class="btn-dark" type="submit">submit</button> 
                                                    </form>                            
                                                </div> 
                                                <br>
                                                <!-- endhere -->
                <form action="{% url 'place_order' %}" method="POST">
                    {% csrf_token %}
                    <h4 class="order__title">Select Your Address</h4>

                    <div class="form-check  font-weight-bold ">{% for a in address %}
                        <input class="form-check-input" type="radio" name="address" value="{{a.id}}" checked>


                        <p>{{a.first_name}}{{a.last_name}},{{a.address_line1}}<br>,{{a.email}},<br>{{a.city}},{{a.state}},{{a.phone}}<br>{{a.country}},{{a.pincode}}
                        </p>
                        {% endfor %}

                        

                     
                        <h4 class="order__title">Your order</h4>
                        <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list" data-paging="true" data-paging-size="7">
                                <thead>
                                    <tr>
                                        <!-- <th>No</th> -->
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Amount </th>
                                   
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <!-- <td>{{product.id}}</td> -->
                                      
                                        <td>{{cart_item.product.product_name}}</td>
                                        <td> {{cart_item.quantity}}</td>

                                        <td>₹ {{ cart_item.sub_total }}</td>
                                        
                                        
                                       
                        
                                    </tr>
                                                          
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      





                    </div>
                    <!-- <hr>
                    <h4 class="order__title">Your order</h4>
                    <div class="checkout__order__products"> &nbsp;&nbsp; &nbsp;&nbsp;Product <span>Total
                        </span> <span>
                        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Quantity</span></div>

                    <ul class="checkout__total__products">
                        {% for cart_item in cart_items %}
                        <li>{{cart_item.product.product_name}}<span>₹ {{ cart_item.sub_total }} </span>
                            <span> </span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{cart_item.quantity}} </span>
                        </li>

                        {% endfor %}
                    </ul> -->
                    <ul class="checkout__total__all">
                        <li>Tax <span>₹ {{tax}}</span></li>
                        <li  >Discount <span class="text-success" >₹ {{discount_price}}</span></li>
                        <li>Grand Total <span>₹ {{grand_total}}</span></li>
                    </ul>


                    <div class="checkout__input__checkbox">
                        <label for="payment">
                            Check Payment
                            <input type="checkbox" id="payment">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkout__input__checkbox">
                        <label for="paypal">
                            Paypal
                            <input type="checkbox" id="paypal">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <button type="submit" class="site-btn">Check Out</button>
                    <button type="submit" class="site-btn"> <a href="{% url 'shop' %}">Continue Shopping
                        </a></button>
                    </form>
                </div>
            </div>
        </div>

        </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{% static 'images/cartbia2.png' %}" style="height:8rem ;" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="{% static 'images/payment.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Branded Cloth</a></li>
                            <li><a href="#">Royal</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright © Cartbia International
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Love Fashion Love Cartbia <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Cartbia</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->

    <!-- Search End -->

    <!-- Js Plugins -->
    {% endblock %}
</body>

</html>