{% extends 'store/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=
    , initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/89e78a04d2.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--  
    <script src="{%  static 'js/spcart-ajax.js' %}"></script> --> 
    <style>
    @media (min-width: 1025px) {
      .h-custom {
        height: 100vh !important;
      }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
    }

    .card-registration .select-arrow {
      top: 13px;
    }

    .bg-grey {
      background-color: #eae8e8;
    }

    @media (min-width: 992px) {
      .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }

    @media (max-width: 991px) {
      .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>

  <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{cart_count}} items</h6>
                    </div>
                    <hr class="my-4">

                    {% if not cart_items %}
                    <h2>Your Shopping Cart is Empty </h2>

                    {% else %}

                    {% for cart_item in cart_items %}
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="{{ cart_item.product.images.url }}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">

                        <a href="{{ cart_item.product.get_url }}">
                          <h6 class="text-black mb-0">{{cart_item.product.product_name}}</h6>
                        </a>
                        <h6 class="text-muted">
                          {% if cart_item.variations.all %}
                          {% for item in cart_item.variations.all %}
                          {{ item.variation_category }} : {{ item.variation_value }}
                          {% endfor %}
                          {% endif %}
                        </h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                      <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}">  <button  class="btn btn-link px-2"  type="submit"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i></button></a>

                       

                        <input type="text" name="quantity" value="{{cart_item.quantity}}" type="number"
                          style="width:2rem ;" class="form-control form-control-sm" />


                        <form action="{% url 'addcart' cart_item.product.id %}" method="POST">
                          {% csrf_token %}
                          {% for item in cart_item.variations.all %}
                          <input type="hidden" name="{{ item.variation_category | lower }}"
                            value="{{ item.variation_value | capfirst }}">

                          {% endfor %}
                          <button class="btn btn-link px-2" type="submit"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-plus"></i>
                        </form>
                        
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">₹ {{ cart_item.sub_total }}</h6>
                        <h6 class="text-muted">₹ {{cart_item.product.price }}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="{% url 'remove_items' cart_item.product.id cart_item.id %}" class="text-muted"><i
                            class="fas fa-times"></i></a>
                      </div>
                    </div>

                    <hr class="my-4">


                    {% endfor %}





                    {% endif %}
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'shop' %}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Total</h5>
                      <h5>₹ {{total}}</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Tax</h5>
                      <h5>₹ {{tax}}</h5>
                    </div>


                    <!-- <h5 class="text-uppercase mb-3">Shipping</h5>
      
                        <div class="mb-4 pb-2">
                          <select class="select">
                            <option value="1">Standard-Delivery- €5.00</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                          </select>
                          <hr class="my-4">
                        </div> -->



                    <div>
                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Grand Total </h5>
                        <h5>₹{{grand_total}}</h5>
                      </div>
                    </div>
                    <a href="{% url 'checkout' %}"><button  type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Checkout</button></a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  {% comment %} <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="{% static 'images/cartbia2.png' %}" style="height:8rem ;" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="{% static 'images/payment.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Branded Cloth</a></li>
                        <li><a href="#">Royal</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Love Fashion Love Cartbia <i class="fa fa-heart-o"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Cartbia</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
  </footer> {% endcomment %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.min.js" integrity="sha512-pkki7qhLJ8O3KbRp6mTRaPR7htmO6To/iUn4q0BgQYpNwRB99acTtU+2T3vZVeepIUxJvnjX5FQASmegDRaVxw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

</script>
{% endblock %}
<script>
  $("form").submit(function(e) {
    e.preventDefault();
    let actionurl = $('form').prop('action');
    $.ajax({
        type: "POST",
        url: actionurl,
        data: $('form').serialize(), // serializes the form's elements.
        success: function(data)
        {
        alert(data); // show response from the php script.
        }
    });
});
</script>



</html>