

      {% extends 'adminz/base1.html' %}

{% load static %}

{% block content %}
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
<div class="col-md-5 align-self-center">
<h4 class="text-themecolor">Product Details</h4>
</div>
<div class="col-md-7 align-self-center text-right">
<div class="d-flex justify-content-end align-items-center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Footable</li>
    </ol>
    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
<div class="col-12">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Category  list</h4>
        <h6 class="card-subtitle"></h6>
       <a href="{% url 'addcategory' %}"> <button type="button" class="btn btn-info btn-rounded m-t-10 float-right" data-toggle="modal" data-target="#add-contact">Add New Category</button></a>
   
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list" data-paging="true" data-paging-size="7">
                                            <thead>
                                                <tr>
                                                    <!-- <th>No</th> -->
                                                    <th>Category_Name</th>
                                                    <th>Slug</th>
                                                    <th>Description</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for category in categories %}
                                                <tr>
                                                    <!-- <td>{{product.id}}</td> -->
                                                  
                                                    <td>{{category.category_name}}</td>
                                                    <td>{{category.slug}}</td>
                                                    <td>{{category.description}}</td>
                                                   
                                                    <td>
                                                        <div class="pro-img-overlay"><a href="{% url 'edit_category' category.slug  %}" ><i class="fa-solid fa-pen-to-square"></i></a> </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="pro-img-overlay"> <a href="{% url 'Deletecategory' category.slug  %}" ><i class="fa-solid fa-trash-can"></i></a></div>
                                                    </td>
                                                </tr>
                                                
                                                
                                                
                                               
                                                
                                                
                                                
                                                
                
                                                
                                                
                                               {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                       <!-- Column -->
                            
                         
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
       
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
      
        {% endblock %}